APP_ENV=production
SERVER_PORT=8888

MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=bookadmin
MYSQL_PORT=3306

REDIS_PORT=6379

JWT_SECRET=please-change-this-secret
SECURITY_CORS_ALLOWED_ORIGINS=http://localhost

NGINX_PORT=80
